html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  height: 100%;
}
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.description {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/Paris-Moyan-Brenn-cc-by-nd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.description .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 8rem;
  width: 32rem;
  padding: 2rem;
  background-color: rgba(255,255,255,0.8);
  color: #16161d;
}
.description .content h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
.description .content h2 {
  font-size: 0.8rem;
}
.description .content h3 {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.description .content p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.description .content table td {
  height: 1rem;
  line-height: 1rem;
  padding: 0.25rem;
}
.description .content table td:first-child {
  font-weight: bold;
  text-align: right;
}
.description .content a.background-author {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #666;
  font-size: 0.8rem;
  text-decoration: none;
}
.description .content a.background-author:hover {
  text-decoration: underline;
}
.questions {
  position: absolute;
  top: 1rem;
  left: 34rem;
  width: 38rem;
}
.question-item {
  overflow: hidden;
  background: rgba(255,255,255,0.8);
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.question-item h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
.question-item h5 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.question-item audio {
  margin-right: 5%;
}
.question-item .sample-title {
  display: inline-block;
  width: 55%;
}
.question-item ol.markarea {
  display: inline-block;
  clear: right;
  width: 40%;
  font-size: 0.8rem;
}
.question-item ol.markarea li {
  display: inline-block;
  text-align: center;
  width: 20%;
}
.question-item .slider {
  display: inline-block;
}
.question-item .description {
  position: absolute;
}
