.description {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/Paris-Moyan-Brenn-cc-by-nd.jpg");
  background-size: cover;
}
.description .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 8rem;
  width: 32rem;
  padding: 2rem;
  background-color: rgba(255,255,255,0.8);
  color: #16161d;
}
.description .content h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
.description .content h2 {
  font-size: 0.8rem;
}
.description .content h3 {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.description .content p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.description .content table td {
  height: 1rem;
  line-height: 1rem;
  padding: 0.25rem;
}
.description .content table td:first-child {
  font-weight: bold;
  text-align: right;
}
.description .content a.background-author {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #666;
  font-size: 0.8rem;
  text-decoration: none;
}
.description .content a.background-author:hover {
  text-decoration: underline;
}
