.question-item {
  overflow: hidden;
  background: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 1rem;
}
.question-item h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
.question-item h5 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.question-item audio {
  margin-right: 5%;
}
.question-item .sample-title {
  display: inline-block;
  width: 55%;
}
.question-item ol.markarea {
  display: inline-block;
  clear: right;
  width: 40%;
  font-size: 0.8rem;
}
.question-item ol.markarea li {
  display: inline-block;
  text-align: center;
  width: 20%;
}
.question-item .slider {
  display: inline-block;
}
.question-item .description {
  position: absolute;
}
