.slider {
  display: block;
  float: left;
  width: 300px;
  height: 30px;
  background-color: #383838;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.slider input[type=range] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  width: 250px;
  height: 10px;
  margin: 10px 0 10px 10px;
  background: -webkit-linear-gradient(left, #888, #fff);
  background: -moz-linear-gradient(left, #888, #fff);
  background: -o-linear-gradient(left, #888, #fff);
  background: -ms-linear-gradient(left, #888, #fff);
  background: linear-gradient(to right, #888, #fff);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #000;
}
.slider input[type=range]:active {
  background-color: #ff0a0a;
}
.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2px;
  height: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.7);
  box-shadow: 0 0 9px rgba(0,0,0,0.7);
}
.slider input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2px;
  height: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.3);
  box-shadow: 0 0 9px rgba(0,0,0,0.3);
}
.slider label {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  font-size: medium;
  color: #fff;
  text-align: right;
}
