.description {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/Paris-Moyan-Brenn-cc-by-nd.jpg");
  background-size: cover;
}
.description .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 8rem;
  width: 32rem;
  padding: 1rem 2rem;
  background-color: rgba(255,255,255,0.8);
  border-bottom-right-radius: 1rem;
  color: #16161d;
}
.description .content h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
.description .content h2 {
  font-size: 0.8rem;
}
.description .content h3 {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.description .content p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.description .content table td {
  height: 1rem;
  line-height: 1rem;
  padding: 0.25rem;
}
.description .content table td:first-child {
  font-weight: bold;
  text-align: right;
}
.description .content a.background-author {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  color: #666;
  font-size: 0.8rem;
  text-decoration: none;
}
.description .content a.background-author:hover {
  text-decoration: underline;
}
.questions {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.slider {
  display: block;
  float: left;
  width: 300px;
  height: 30px;
  background-color: #383838;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.slider input[type=range] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  width: 250px;
  height: 10px;
  margin: 10px 0 10px 10px;
  background: -webkit-linear-gradient(left, #888, #fff);
  background: -moz-linear-gradient(left, #888, #fff);
  background: -o-linear-gradient(left, #888, #fff);
  background: -ms-linear-gradient(left, #888, #fff);
  background: linear-gradient(to right, #888, #fff);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #000;
}
.slider input[type=range]:active {
  background-color: #ff0a0a;
}
.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2px;
  height: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.7);
  box-shadow: 0 0 9px rgba(0,0,0,0.7);
}
.slider input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2px;
  height: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.3);
  box-shadow: 0 0 9px rgba(0,0,0,0.3);
}
.slider label {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  font-size: medium;
  color: #fff;
  text-align: right;
}
.question-item {
  overflow: hidden;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  margin-bottom: 2rem;
  width: 630px;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.question-item h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
.question-item h5 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.question-item .original,
.question-item .sample {
  display: block;
  height: 30px;
  width: 610px;
  margin-bottom: 0.5rem;
}
.question-item .original audio,
.question-item .sample audio {
  display: block;
  float: left;
  margin-right: 10px;
}
.question-item .original {
  width: 100%;
}
.question-item .sample-title {
  display: inline-block;
  width: 300px;
  margin-right: 10px;
}
.question-item ol.markarea {
  display: inline-block;
  width: 250px;
  margin: 0 40px 0 10px;
  font-size: 0.4rem;
}
.question-item ol.markarea li {
  display: inline-block;
  text-align: center;
  width: 20%;
}
.question-item ol.markarea li:nth-child(1) {
  background-color: #f00;
}
.question-item ol.markarea li:nth-child(2) {
  background-color: #f88;
}
.question-item ol.markarea li:nth-child(3) {
  background-color: #fff;
}
.question-item ol.markarea li:nth-child(4) {
  background-color: #8f8;
}
.question-item ol.markarea li:nth-child(5) {
  background-color: #0f0;
}
.question-item .description {
  position: absolute;
}
